<html>
   <head>
      <title>Drinks</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   </head>
   <body>
      <nav class="navbar navbar-expand-sm navbar-dark  bg-dark border-bottom border-white">
         <a class="navbar-brand" href="#">
         <img src="https://i.pinimg.com/originals/f4/0f/2c/f40f2c3f97c9bcd6d0737431a23075c2.png" width="30" height="30" class="d-inline-block align-top" alt="">
         </a>
         <div class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto">
               <a href="" class=" text-white mr-1"> Home</a>
               <a href="" class=" text-white ml-1"> ImageUpload</a>
            </ul>
         </div>
         <form class="form-inline my-2 my-lg-0">
            <a  class="btn btn btn-danger my-2 my-sm-0 text-white" >Bruno</a>
            <button  class="ml-1 btn btn btn-danger my-2 my-sm-0 text-white ">Logout</button>
         </form>
      </nav>
      <div class="container">
            <input type="text">
      </div>
   </body>
</html>
