<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col col-md-2 ">
          
          </div>
          <div class="col col-md-8">
        <form  action="/signup" method="post"class="form-signin " style="
          
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10rem;">
            <img class="mb-4" src="https://pngimage.net/wp-content/uploads/2018/05/dp-logo-png-3.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Registe - se</h1>
      
           <label >Nome </label>
           <input type="text" name="name" class="form-control" style="margin-bottom:10px;">
           <label >Email </label>
           <input  type="email" name="email" class="form-control" style="margin-bottom:10px;">
           <label >Password </label>
           <input type="password" name="password" class="form-control" style="margin-bottom:10px;">
            
      
           
          
      
             
           
            <button class="btn btn-lg btn-primary btn-block bg-danger" type="submit">Registar</button>
            <p class="mt-5 mb-3 text-muted">© Bruno Pereira 2020-2021</p>
          </form>
          </div>
          <div class="col col-md-2">
      
          </div>
        </div>
      
      </div>
</body>